/* You can add global styles to this file, and also import other style files */

.widthstyle{
  width: 100%;
}

.styler-grid {
  text-align: right;
  margin-bottom: 15px;
  float: right;
  display: inline-block;
}
